# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  docker: circleci/docker@1.5.0
jobs:
  test:
    parameters:
      stack:
        type: string
      channel:
        type: string
    environment:
      STACK: << parameters.stack >>
      GOOGLE_CHROME_CHANNEL: << parameters.channel >>
    docker:
      - image: cimg/base:2020.01
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: "Running test"
          command: ./support/test.sh "${STACK}"

workflows:
  main:
    jobs:
      - test:
          matrix:
            parameters:
              channel: [stable, beta, unstable]
              stack: [heroku-16, heroku-18, heroku-20]
      - test: #default
          channel: ""
          stack: heroku-18
